## Demo Group By - Use Case 1

In [1]:
# Import pandas
import pandas as pd

# Read the input file into a Dataframe
data = pd.read_csv("worldcup.csv")

# Display the first five rows of the Dataframe
data.head()

          Team  Rank  Year
0  West Indies     7  1975
1  West Indies     7  1979
2        India     2  1983
3    Australia     1  1987
4     Pakistan     6  1992

In [2]:
print(data.groupby('Team').groups)

{'Australia': [3, 6, 7, 8, 10], 'India': [2, 9], 'Pakistan': [4], 'Sri Lanka': [5], 'West Indies': [0, 1]}

In [3]:
print(data.groupby('Team')['Year'].count())

Team
Australia      5
India          2
Pakistan       1
Sri Lanka      1
West Indies    2
Name: Year, dtype: int64

#### Conclusion: Using groupby we combine data in various forms