<h2>Demo - Functionality of Pandas DataFrame</h2>

In this demo, you will be shown how to use dataFrames to represent data using Python.

##### Question 1:

Perform the following Pandas Operations

    1) From the raw data below create a data frame
    
    'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
    'last_name': ['Miller', 'Jacobson', ".", 'Milner', 'Cooze'], 
    'age': [42, 52, 36, 24, 73], 
    'preTestScore': [4, 24, 31, ".", "."],
    'postTestScore': ["25,000", "94,000", 57, 62, 70]

    2) Save the dataframe into a csv file as example.csv
    3) Read the example.csv and print the data frame
    4) Read the example.csv without column heading
    5) Read the example.csv and make the index columns as 'First Name’ and 'Last   Name'
    6) Read the first 3 rows of the dataFrame and print the dataFrame
    7) The column 'postTestScore' has "," in their values around numbers to represent thousands. Load example.csv file which ignores the default behaviour of comma while reading the 'postTestScore' column

In [ ]:
# Import the required libraries

import pandas as pd
import numpy as np

# 1.1

raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller', 'Jacobson', ".", 'Milner', 'Cooze'],
        'age': [42, 52, 36, 24, 73],
        'preTestScore': [4, 24, 31, ".", "."],
        'postTestScore': ["25,000", "94,000", 57, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'])
print(df)

  first_name last_name  age preTestScore postTestScore
0      Jason    Miller   42            4        25,000
1      Molly  Jacobson   52           24        94,000
2       Tina         .   36           31            57
3       Jake    Milner   24            .            62
4        Amy     Cooze   73            .            70

In [ ]:
# 1.2 Save the dataFrame into a CSV file

df.to_csv('example.csv')

In [ ]:
# 1.3 Read data from CSV and print the dataFrame

df = pd.read_csv('example.csv', header=0)
print(df)

   Unnamed: 0 first_name last_name  age preTestScore postTestScore
0           0      Jason    Miller   42            4        25,000
1           1      Molly  Jacobson   52           24        94,000
2           2       Tina         .   36           31            57
3           3       Jake    Milner   24            .            62
4           4        Amy     Cooze   73            .            70

In [ ]:
# 1.4 Read data from CSV without headers

df = pd.read_csv('example.csv', header=None)
print(df)

     0           1          2    3             4              5
0  NaN  first_name  last_name  age  preTestScore  postTestScore
1  0.0       Jason     Miller   42             4         25,000
2  1.0       Molly   Jacobson   52            24         94,000
3  2.0        Tina          .   36            31             57
4  3.0        Jake     Milner   24             .             62
5  4.0         Amy      Cooze   73             .             70

In [ ]:
# 1.5 Read the data again with headers and make the index columns as 'First Name’ and 'Last Name'

df = pd.read_csv('example.csv', header=0, index_col=['First Name', 'Last Name'], 
                 names=['UID', 'First Name', 'Last Name', 'Age', 'Pre-Test Score', 'Post-Test Score'])
print(df)

                      UID  Age Pre-Test Score Post-Test Score
First Name Last Name
Jason      Miller       0   42              4          25,000
Molly      Jacobson     1   52             24          94,000
Tina       .            2   36             31              57
Jake       Milner       3   24              .              62
Amy        Cooze        4   73              .              70

In [ ]:
# 1.6 Read the first 3 rows of the dataFrame and print the dataFrame

df = pd.read_csv('example.csv', nrows=3)
print(df)

   Unnamed: 0 first_name last_name  age  preTestScore postTestScore
0           0      Jason    Miller   42             4        25,000
1           1      Molly  Jacobson   52            24        94,000
2           2       Tina         .   36            31            57

In [ ]:
# 1.7
df = pd.read_csv('example.csv',  thousands=',')
print(df)

   Unnamed: 0 first_name last_name  age preTestScore  postTestScore
0           0      Jason    Miller   42            4          25000
1           1      Molly  Jacobson   52           24          94000
2           2       Tina         .   36           31             57
3           3       Jake    Milner   24            .             62
4           4        Amy     Cooze   73            .             70