## Day 46 - DIY Solution
**Q1. Problem Statement: Feature Extraction** <br>
Write a Python program that reads the demotext2.txt text file (provided on LMS).The following are the tasks that are to be taken into consideration while
constructing the solution.
1. Load the demotext2.txt text file into a variable and then close the file
2. Do sentence wise tokenization and list out generated tokens
3. Transform each token into a lower case
4. Do vectorization using TFID Vectorizer
5. Generate vector-matrix

In [1]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

**Step-1:** Import Libraries.

In [2]:
import nltk
from nltk import word_tokenize
from nltk import word_tokenize

**Step-2:** Loading the given text file.

In [3]:
f = open("demotext2.txt", "r")
#read whole file to a string
text = f.read()
 
#close file
f.close()
 
print(text)

He can even spout some sports trivia and Christmas carols and stuff like that.
We'd talk sports and stuff, and maybe have a beer.
The Admirable Crichton of his day, he was keen alike on field sports and the arts, the friend and admirer equally of Cecil Rhodes and of Rodin, a railway director and a yeomanry colonel.
But he was not brought forward by his father or prepared in any way for his future greatness, and lived in the country occupied with field sports, till after the institution of the second protectorate in 16J7 and the recognition of Oliver's right to name his successor.
Thankfully, he was too concerned with sports to get in any real trouble.
See Strutt, Sports and Pastimes, who also gives an illustration, "taken from a manuscriptal painting of the 9th century in the Cotton Library," representing "a Saxon chieftain, attended by his huntsman and a couple of hounds, pursuing the wild swine in a forest."
As they entered the yard, Carmen noticed Lori's little red sports car.
After a lengthy shower, Jenn exited and pulled on clean leggings, sports bra, and socks.
A park and sports ground at the western end of the town contains the pedestal for a statue of President Kruger.
There were crude medieval notions that fossils were " freaks " or " sports " of nature (lusus naturae), or that they represented failures of a creative force within the earth (a notion of Greek and Arabic origin), or that larger and smaller fossils represented the remains of races of giants or of pygmies (the mythical idea).

**Step-3:** Tokenizing the sentences.

In [4]:
nltk_tokens = nltk.sent_tokenize(text)
print (nltk_tokens)

['He can even spout some sports trivia and Christmas carols and stuff like that.', "We'd talk sports and stuff, and maybe have a beer.", 'The Admirable Crichton of his day, he was keen alike on field sports and the arts, the friend and admirer equally of Cecil Rhodes and of Rodin, a railway director and a yeomanry colonel.', "But he was not brought forward by his father or prepared in any way for his future greatness, and lived in the country occupied with field sports, till after the institution of the second protectorate in 16J7 and the recognition of Oliver's right to name his successor.", 'Thankfully, he was too concerned with sports to get in any real trouble.', 'See Strutt, Sports and Pastimes, who also gives an illustration, "taken from a manuscriptal painting of the 9th century in the Cotton Library," representing "a Saxon chieftain, attended by his huntsman and a couple of hounds, pursuing the wild swine in a forest."', "As they entered the yard, Carmen noticed Lori's little red sports car.", 'After a lengthy shower, Jenn exited and pulled on clean leggings, sports bra, and socks.', 'A park and sports ground at the western end of the town contains the pedestal for a statue of President Kruger.', 'There were crude medieval notions that fossils were " freaks " or " sports " of nature (lusus naturae), or that they represented failures of a creative force within the earth (a notion of Greek and Arabic origin), or that larger and smaller fossils represented the remains of races of giants or of pygmies (the mythical idea).']

**Step-4:** Converting  all the words in the sentences to lower case for generating tokens.

In [5]:
#1. Setting all the sentance  to lower case
nltk_tokens = set(w.lower() for w in nltk_tokens)
nltk_tokens = list(nltk_tokens)
nltk_tokens

['the admirable crichton of his day, he was keen alike on field sports and the arts, the friend and admirer equally of cecil rhodes and of rodin, a railway director and a yeomanry colonel.',
 'see strutt, sports and pastimes, who also gives an illustration, "taken from a manuscriptal painting of the 9th century in the cotton library," representing "a saxon chieftain, attended by his huntsman and a couple of hounds, pursuing the wild swine in a forest."',
 'a park and sports ground at the western end of the town contains the pedestal for a statue of president kruger.',
 'thankfully, he was too concerned with sports to get in any real trouble.',
 "as they entered the yard, carmen noticed lori's little red sports car.",
 'after a lengthy shower, jenn exited and pulled on clean leggings, sports bra, and socks.',
 "we'd talk sports and stuff, and maybe have a beer.",
 'he can even spout some sports trivia and christmas carols and stuff like that.',
 "but he was not brought forward by his father or prepared in any way for his future greatness, and lived in the country occupied with field sports, till after the institution of the second protectorate in 16j7 and the recognition of oliver's right to name his successor.",
 'there were crude medieval notions that fossils were " freaks " or " sports " of nature (lusus naturae), or that they represented failures of a creative force within the earth (a notion of greek and arabic origin), or that larger and smaller fossils represented the remains of races of giants or of pygmies (the mythical idea).']

**Step-5:** Vectorizing sentences.

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf_vect = TfidfVectorizer(min_df=1,lowercase=True,stop_words='english')
tf_matrix = tf_vect.fit_transform(nltk_tokens)
print(tf_matrix)

  (0, 19)	0.24354521874367308
  (0, 123)	0.24354521874367308
  (0, 29)	0.24354521874367308
  (0, 90)	0.24354521874367308
  (0, 99)	0.24354521874367308
  (0, 97)	0.24354521874367308
  (0, 14)	0.24354521874367308
  (0, 33)	0.24354521874367308
  (0, 3)	0.24354521874367308
  (0, 43)	0.24354521874367308
  (0, 6)	0.24354521874367308
  (0, 105)	0.09004358647762914
  (0, 37)	0.2070356862180743
  (0, 4)	0.24354521874367308
  (0, 56)	0.24354521874367308
  (0, 28)	0.24354521874367308
  (0, 26)	0.24354521874367308
  (0, 2)	0.24354521874367308
  (1, 39)	0.21254144490425056
  (1, 111)	0.21254144490425056
  (1, 121)	0.21254144490425056
  (1, 87)	0.21254144490425056
  (1, 50)	0.21254144490425056
  (1, 24)	0.21254144490425056
  (1, 51)	0.21254144490425056
  :	:
  (9, 70)	0.17921062626016357
  (9, 88)	0.17921062626016357
  (9, 45)	0.17921062626016357
  (9, 89)	0.17921062626016357
  (9, 94)	0.17921062626016357
  (9, 103)	0.17921062626016357
  (9, 58)	0.17921062626016357
  (9, 78)	0.17921062626016357
  (9, 5)	0.17921062626016357
  (9, 48)	0.17921062626016357
  (9, 74)	0.17921062626016357
  (9, 30)	0.17921062626016357
  (9, 38)	0.17921062626016357
  (9, 25)	0.17921062626016357
  (9, 35)	0.17921062626016357
  (9, 95)	0.35842125252032714
  (9, 71)	0.17921062626016357
  (9, 66)	0.17921062626016357
  (9, 72)	0.17921062626016357
  (9, 42)	0.17921062626016357
  (9, 41)	0.35842125252032714
  (9, 75)	0.17921062626016357
  (9, 69)	0.17921062626016357
  (9, 27)	0.17921062626016357
  (9, 105)	0.06625778821119362

**Step-7:** Vector matrix formation

In [17]:
import pandas as pd
tf_names = tf_vect.get_feature_names_out()
tf_df = pd.DataFrame(tf_matrix.toarray(),columns=tf_names)
tf_df

,16j7,9th,admirable,admirer,alike,arabic,arts,attended,beer,bra,...,thankfully,till,town,trivia,trouble,way,western,wild,yard,yeomanry
0,0.000000,0.000000,0.243545,0.243545,0.243545,0.000000,0.243545,0.000000,0.00000,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.243545
1,0.000000,0.212541,0.000000,0.000000,0.000000,0.000000,0.000000,0.212541,0.00000,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.212541,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.000000,0.314088,0.000000,0.00000,0.000000,0.314088,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,...,0.49167,0.000000,0.000000,0.000000,0.49167,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.350571,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.33083,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.50903,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.000000,0.000000,0.413119,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.224397,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.224397,0.000000,0.000000,0.00000,0.224397,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.179211,0.000000,0.000000,0.00000,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000

In [16]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

# Assuming you have your text data in a list called 'nltk_tokens'
tf_vect = TfidfVectorizer(min_df=1, lowercase=True, stop_words='english')
tf_matrix = tf_vect.fit_transform(nltk_tokens)

# Get the feature names and create a DataFrame
tf_names = tf_vect.get_feature_names_out()
tf_df = pd.DataFrame(tf_matrix.toarray(), columns=tf_names)
print(tf_df)

       16j7       9th  admirable   admirer     alike    arabic      arts  \
0  0.000000  0.000000   0.243545  0.243545  0.243545  0.000000  0.243545
1  0.000000  0.212541   0.000000  0.000000  0.000000  0.000000  0.000000
2  0.000000  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000
3  0.000000  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000
4  0.000000  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000
5  0.000000  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000
6  0.000000  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000
7  0.000000  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000
8  0.224397  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000
9  0.000000  0.000000   0.000000  0.000000  0.000000  0.179211  0.000000

   attended     beer      bra  ...  thankfully      till      town    trivia  \
0  0.000000  0.00000  0.00000  ...     0.00000  0.000000  0.000000  0.000000
1  0.212541  0.00000  0.00000  ...     0.00000  0.000000  0.000000  0.000000
2  0.000000  0.00000  0.00000  ...     0.00000  0.000000  0.314088  0.000000
3  0.000000  0.00000  0.00000  ...     0.49167  0.000000  0.000000  0.000000
4  0.000000  0.00000  0.00000  ...     0.00000  0.000000  0.000000  0.000000
5  0.000000  0.00000  0.33083  ...     0.00000  0.000000  0.000000  0.000000
6  0.000000  0.50903  0.00000  ...     0.00000  0.000000  0.000000  0.000000
7  0.000000  0.00000  0.00000  ...     0.00000  0.000000  0.000000  0.413119
8  0.000000  0.00000  0.00000  ...     0.00000  0.224397  0.000000  0.000000
9  0.000000  0.00000  0.00000  ...     0.00000  0.000000  0.000000  0.000000

   trouble       way   western      wild      yard  yeomanry
0  0.00000  0.000000  0.000000  0.000000  0.000000  0.243545
1  0.00000  0.000000  0.000000  0.212541  0.000000  0.000000
2  0.00000  0.000000  0.314088  0.000000  0.000000  0.000000
3  0.49167  0.000000  0.000000  0.000000  0.000000  0.000000
4  0.00000  0.000000  0.000000  0.000000  0.350571  0.000000
5  0.00000  0.000000  0.000000  0.000000  0.000000  0.000000
6  0.00000  0.000000  0.000000  0.000000  0.000000  0.000000
7  0.00000  0.000000  0.000000  0.000000  0.000000  0.000000
8  0.00000  0.224397  0.000000  0.000000  0.000000  0.000000
9  0.00000  0.000000  0.000000  0.000000  0.000000  0.000000

[10 rows x 124 columns]

**Conclusion:** The sentences in the dataset has been changed into word tokens and then later converted to Vectors