##Day 29 - DIY Solution


**Q1. Problem Statement: Hypothesis Testing** <br>

Write a Python program that reads the Life Expectancy Data.csv (provided on LMS) file into a DataFrame, then drops null values and performs hypothesis testing for the given scenario.

<br>
H0:u  = average life expectancy of Afghanistan is the same as the average Life expectancy of the world (Null hypothesis)
<br>
H1:u = average life expectancy of Afghanistan is not the same as the average Life expectancy of the world (Alternate hypothesis)
<br>

1.	Load dataset into a data frame
2.	Drop all missing values 
3.	Take the mean of the whole target variable and extract data from ‘Afghanistan’
4.	consider a significance level of 0.05, perform a T-tail test using the stats library and calculate P-value and conclude hypothesis testing.

**Step-1:** Importing Libraries.

In [20]:
import pandas as pd
import numpy as np
from scipy import stats

**Step-2:** Load the CSV file in to a DataFrame

In [21]:
df = pd.read_csv("Life Expectancy Data.csv")
df

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
0,Afghanistan,2015,Developing,263.0,62,0.01,71.279624,65.0,1154,19.1,...,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,65.0
1,Afghanistan,2014,Developing,271.0,64,0.01,73.523582,62.0,492,18.6,...,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,59.9
2,Afghanistan,2013,Developing,268.0,66,0.01,73.219243,64.0,430,18.1,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,59.9
3,Afghanistan,2012,Developing,272.0,69,0.01,78.184215,67.0,2787,17.6,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,59.5
4,Afghanistan,2011,Developing,275.0,71,0.01,7.097109,68.0,3013,17.2,...,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,59.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,723.0,27,4.36,0.000000,68.0,31,27.1,...,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2,44.3
2934,Zimbabwe,2003,Developing,715.0,26,4.06,0.000000,7.0,998,26.7,...,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5,44.5
2935,Zimbabwe,2002,Developing,73.0,25,4.43,0.000000,73.0,304,26.3,...,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0,44.8
2936,Zimbabwe,2001,Developing,686.0,25,1.72,0.000000,76.0,529,25.9,...,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8,45.3
2937,Zimbabwe,2000,Developing,665.0,24,1.68,0.000000,79.0,1483,25.5,...,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8,46.0

**Step-3:** Drop missing values from DataFrame.

In [22]:
data = df.dropna()

<b> hypothesis statement</b><br>
<b>Null Hypothesis (H0):</b> average life expetancy  of the afghanistan is  same as  average Life expectancy of world<br>
<b>Alternative Hypothesis (H1):</b> average life expetancy  of the  afghanistan is  not same as  average Life expectancy of world 

<b>2. Collecting data</b><br>
A sample data of data collected where country is afghanistan

**Step-4:** Extract the average life expectancy of world.

In [23]:
avg_world = data["Life expectancy "].mean()
avg_world

69.30230442692543

**Step-5:** Extract data of afghanistan in new DataFrame for sample generation.

In [24]:
# afghanistan has  more Life expectancy than average world.
#Q. Find whether the average life expetancy  of the afghanistan is more than average of world or not?
age_afghani = data[data.Country == "Afghanistan"].sample(5, random_state = 1)
age_afghani

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
3,Afghanistan,2012,Developing,272.0,69,0.01,78.184215,67.0,2787,17.6,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,59.5
13,Afghanistan,2002,Developing,3.0,88,0.01,16.887351,64.0,2486,13.0,...,7.76,36.0,0.1,187.845950,21979923.0,19.9,2.2,0.341,6.2,56.2
7,Afghanistan,2008,Developing,287.0,80,0.03,25.873925,64.0,1599,15.7,...,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7,58.1
2,Afghanistan,2013,Developing,268.0,66,0.01,73.219243,64.0,430,18.1,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,59.9
6,Afghanistan,2009,Developing,281.0,77,0.01,56.762217,63.0,2861,16.2,...,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9,58.6

In [25]:
#average age of sample
age_afghani["Life expectancy "].mean()

58.46

**Step-6:** Determine the significance level.

We have obtained the data required for the hypothesis test
<br>
Let us consider a significance level of 0.05, it means we are 95% confident about the hypothesis test

In [26]:
# determining significance level

alpha = 0.05

<b>Statitical Test</b><br>
We can perform the t – test as we don’t know the population standard deviation

Find the critical point using Percent Point Function(PPF) or by using t-table <br>
We need significance level and degrees of freedom to find the critical value<br>

alpha = 0.05<br>
DOF = n-1 = 5-1 = 4

**Step-7:** Importing Libraries and calculatecritical value.

In [27]:
# Student t-distribution Percent Point Function
from scipy.stats import t

# define probability
p = 1-alpha/2
df1 = 4

# retrieve value <= probability
critical_value = t.ppf(p, df1)
print("The critical value of 95% confidence level and with 4 degrees of freedom:",critical_value)

The critical value of 95% confidence level and with 4 degrees of freedom: 2.7764451051977987

**Step-8:** calculate the T-statistic value<br>

In [28]:
from scipy.stats import ttest_1samp

# Calculating t-statistic and p-value
t_statistic, p_value = ttest_1samp(age_afghani["Life expectancy "], avg_world)
print('The t-statistic value is',t_statistic)
print('The p-value is',p_value)

The t-statistic value is -16.718101704395004
The p-value is 7.500923702799806e-05

In [29]:
p_value
# and now with 'rounding'
"{:.8f}".format(p_value)

'0.00007501'

**Step-9:** Interpret the Result based on P_value or critical value and conclude final statement.

In [30]:
# interpreting the result

#if  -(critical_value) < t_statistic > +(critical_value):
if p_value < alpha: #indicates that p value is less than 0.05 then we should reject null hypothesis.
    print('We  reject the null hypothesis.\nThe average Life expectancy of afghanistan is not same as  average Life expectancy of world.')
else:
    print('We fail to reject  the null hypothesis.\nThe average Life expectancy of afghanistan is  same as average Life expectancy of world.')

We  reject the null hypothesis.
The average Life expectancy of afghanistan is not same as  average Life expectancy of world.