In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("ipl_data.csv")
df

,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,RUNS-S,HS,AVE,SR-B,...,COUNTRY_NZ,COUNTRY_PAK,COUNTRY_SA,COUNTRY_SL,COUNTRY_WI,COUNTRY_ZIM,PLAYING ROLE_Batsman,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper,CAPTAINCY EXP_1
0,0,0,0,0.00,0,0.0,0,0,0.00,0.00,...,0,0,1,0,0,0,0,0,0,0
1,214,18,657,71.41,185,37.6,0,0,0.00,0.00,...,0,0,0,0,0,0,0,1,0,0
2,571,58,1269,80.62,288,32.9,167,39,18.56,121.01,...,0,0,0,0,0,0,0,1,0,0
3,284,31,241,84.56,51,36.8,58,11,5.80,76.32,...,0,0,0,0,0,0,0,1,0,0
4,63,0,79,45.93,0,0.0,1317,71,32.93,120.71,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,0,0,0,0.00,0,0.0,49,16,9.80,125.64,...,0,0,0,0,0,0,1,0,0,0
126,6398,7,6814,75.78,3,86.6,3,3,3.00,42.85,...,0,1,0,0,0,0,1,0,0,1
127,1775,9,8051,87.58,109,44.3,1237,66,26.32,131.88,...,0,0,0,0,0,0,1,0,0,1
128,1114,288,790,73.55,278,35.4,99,23,9.90,91.67,...,0,0,0,0,0,0,0,1,0,0
129,288,64,343,95.81,108,39.4,11,10,11.00,122.22,...,0,0,0,1,0,0,0,1,0,0

In [6]:
df = pd.read_csv("ipl_data.csv",header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,RUNS-S,HS,AVE,SR-B,...,COUNTRY_NZ,COUNTRY_PAK,COUNTRY_SA,COUNTRY_SL,COUNTRY_WI,COUNTRY_ZIM,PLAYING ROLE_Batsman,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper,CAPTAINCY EXP_1
1,0,0,0,0.0,0,0.0,0,0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
2,214,18,657,71.41,185,37.6,0,0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
3,571,58,1269,80.62,288,32.9,167,39,18.56,121.01,...,0,0,0,0,0,0,0,1,0,0
4,284,31,241,84.56,51,36.8,58,11,5.8,76.32,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,0,0,0,0.0,0,0.0,49,16,9.8,125.64,...,0,0,0,0,0,0,1,0,0,0
127,6398,7,6814,75.78,3,86.6,3,3,3.0,42.85,...,0,1,0,0,0,0,1,0,0,1
128,1775,9,8051,87.58,109,44.3,1237,66,26.32,131.88,...,0,0,0,0,0,0,1,0,0,1
129,1114,288,790,73.55,278,35.4,99,23,9.9,91.67,...,0,0,0,0,0,0,0,1,0,0
130,288,64,343,95.81,108,39.4,11,10,11.0,122.22,...,0,0,0,1,0,0,0,1,0,0

In [8]:
df.to_csv("new_file.csv")

In [9]:
df.to_excel("temp.xlsx")