##Operators in Python

### Arithmetic Operators and Built-in Functions - Using Python as a calculator
The following are examples of the kinds of Python expressions that we can use.

| Operator | Description |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod (remainder) |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [ ]:
6 + 5

11

In [ ]:
20 - 12.5

7.5

In [ ]:
3.14 * 6

18.84

Each Python value has a type.  `6`, `5`, `20`, and `6` have type `int`.  `12.5` and `3.14` have type `float`. Float stands for *floating point number*. Floats are approximations to the real numbers.

Python has two different division operators: `/` produces a `float` and `//` is integer division (it produces an `int`).

In [ ]:
8 / 4

2.0

In [ ]:
8 // 4

2

In [ ]:
# When writing programs, we can put in English language explanations called comments.
# Whatever comes after the # symbol is not executed.

In [ ]:
2 ** 5  # 2 to the power of 5

32

In [ ]:
# The % operator gives the remainder of a division.
# 10 % 3 gives the remainder of 10 // 3
10 % 3

1

In other words, the fraction 10 / 3 can be rewritten as 3 1/3, so the remainder is `1`.

Operator order of precedence (from highest to lowest)

- `**`

- `-` (negation)

- `*`, `/`, `//`, `%` (left to right)

- `+` (addition), `-` (subtraction) (left to right)

#### Encountering Errors

When programming, it is common to encounter errors.  You will learn how to interpret the error messages, so that you can fix your code.  Here are a few examples:

In [ ]:
3 +

SyntaxError: ignored

In [ ]:
4 + 5 ) * 2

SyntaxError: ignored

In [ ]:
2 * * 5

SyntaxError: ignored

In [ ]:
9 / 0

ZeroDivisionError: ignored

####Simplifying Arithmetic Operations

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [ ]:
print(round(5.6231))
print(round(4.55892, 2))

6
4.56

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [ ]:
c =complex('5+2j')
print(abs(c))

5.385164807134504

**divmod(x,y)** outputs the quotient and the remainder in a tuple(you will be learning about it in the further chapters) in the format (quotient, remainder).

In [ ]:
divmod(9,2)

(4, 1)

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [ ]:
print(pow(3,3))
print(pow(3,3,5))

27
2

###Assignment Operator
Used to assign value to a variable

| Operator | Example | Similar to 
|----------|---------|----------|
| = |x=10 |x = 10
| +=  | x+=5 | x = x + 5
| -= | x-=5 | x = x - 5
| *=  | x*=5 |x = x * 5 
| /=  | x/=5 |x = x / 5 
| %=  | x%=5 |x = x % 5 
| **=  | x**=5 |x = x ** 5
| &=  | x&=5 |x = x & 5
| ^=  | x^=5 |x = x ^ 5
| <<=  | x<<=5 |x = x << 5

### Comparison Operators 

These operators will allow us to compare variables and output a Boolean value (True or False). 

<h3> Table of Comparison Operators </h3><p>  In the table below, consider a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

Let's now work through quick examples of each of these.

#### Equal

In [ ]:
2 == 2

True

In [ ]:
1 == 0

False

Note that <code>==</code> is a <em>comparison</em> operator, while <code>=</code> is an <em>assignment</em> operator.

#### Not Equal

In [ ]:
2 != 1

True

In [ ]:
2 != 2

False

#### Greater Than

In [ ]:
2 > 1

True

In [ ]:
2 > 4

False

#### Less Than

In [ ]:
2 < 4

True

In [ ]:
2 < 1

False

#### Greater Than or Equal to

In [ ]:
2 >= 2

True

In [ ]:
2 >= 1

True

#### Less than or Equal to

In [ ]:
2 <= 2

True

In [ ]:
2 <= 4

True

#### Chained Comparison Operators

An interesting feature of Python is the ability to *chain* multiple comparisons to perform a more complex test. You can use these chained comparisons as shorthand for larger Boolean Expressions.

In this lecture we will learn how to chain comparison operators and we will also introduce two other important statements in Python: **and** and **or**.

Let's look at a few examples of using chains:

In [ ]:
1 < 2 < 3

True

The above statement checks if 1 was less than 2 **and** if 2 was less than 3. We could have written this using an **and** statement in Python:

In [ ]:
1<2 and 2<3

True

The **and** is used to make sure two checks have to be true in order for the total check to be true. Let's see another example:

In [ ]:
1 < 3 > 2

True

The above checks if 3 is larger than both of the other numbers, so you could use **and** to rewrite it as:

In [ ]:
1<3 and 3>2

True

It's important to note that Python is checking both instances of the comparisons. We can also use **or** to write comparisons in Python. For example:

In [ ]:
1==2 or 2<3

True

Note how it was true; this is because with the **or** operator, we only need one *or* the other to be true. Let's see one more example to drive this home:

In [ ]:
1==1 or 100==1

True

###Logical Operator
Logical Operators are used to combine conditional statements

| Operator | Description | Example
|----|---|---|
| and  | Returns True if both statements are true | x < 5 and  x < 10	
| or  | Returns True if one of the statements is true | x < 5 or  x < 10	
| not  | Reverse the result, returns False if the result is true and vice versa | not(x < 5 or  x < 10)

###Bitwise Operators

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [ ]:
a = 2 #10
b = 3 #11

In [ ]:
print(a & b)
print (bin(a&b))

2
0b10

In [ ]:
5 >> 1

2

0000 0101 -> 5 

Shifting the digits by 1 to the right and zero padding

0000 0010 -> 2

In [ ]:
5 << 1

10

0000 0101 -> 5 

Shifting the digits by 1 to the left and zero padding

0000 1010 -> 10

###Identity Operator
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.


| Operator | Description | Example
|----|---|---|
| is  | Returns True if both variables are the same object| x is y
| is not  | Returns True if both variables are not the same object| x is not y

###Membership Operator
Membership operators are used to test if a sequence is presented in an object

| Operator | Description | Example
|----|---|---|
| in  | Returns True if a sequence with the specified value is present in the object| x in y
| not in  | Returns True if a sequence with the specified value is not present in the object| x not in y