# Day 21 - LU1

<h2>Demo - Detecting and Removing Outliers</h2>

In this demo, you will be shown how to detect and remove outliers using Z-score and IQR score.

In [ ]:
#Import the required libraries
import pandas as pd
from sklearn import datasets
from scipy import stats
import numpy as np

In [ ]:
#Load the Boston House Pricing Dataset which is included in the sklearn dataset API
boston = sklearn.datasets.load_boston()
x = boston.data
y = boston.target
columns = boston.feature_names

In [ ]:
#Create the dataframe
boston_df = pd.DataFrame(boston.data)
boston_df.columns = columns
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

### Using Z-Score

In [ ]:
#Step1: Use Z-score function defined in scipy library to detect the outliers
boston_df_z = boston_df
z = np.abs(stats.zscore(boston_df))
print(z)

[[0.41978194 0.28482986 1.2879095  ... 1.45900038 0.44105193 1.0755623 ]
 [0.41733926 0.48772236 0.59338101 ... 0.30309415 0.44105193 0.49243937]
 [0.41734159 0.48772236 0.59338101 ... 0.30309415 0.39642699 1.2087274 ]
 ...
 [0.41344658 0.48772236 0.11573841 ... 1.17646583 0.44105193 0.98304761]
 [0.40776407 0.48772236 0.11573841 ... 1.17646583 0.4032249  0.86530163]
 [0.41500016 0.48772236 0.11573841 ... 1.17646583 0.44105193 0.66905833]]

Looking at the code and the output above, it is difficult to say which data point is an outlier.
So letâ€™s define a threshold to identify an outlier.

In [ ]:
#Step2: Define a threshold
threshold = 3
print(np.where(z > 3))

(array([ 55,  56,  57, 102, 141, 142, 152, 154, 155, 160, 162, 163, 199,
       200, 201, 202, 203, 204, 208, 209, 210, 211, 212, 216, 218, 219,
       220, 221, 222, 225, 234, 236, 256, 257, 262, 269, 273, 274, 276,
       277, 282, 283, 283, 284, 347, 351, 352, 353, 353, 354, 355, 356,
       357, 358, 363, 364, 364, 365, 367, 369, 370, 372, 373, 374, 374,
       380, 398, 404, 405, 406, 410, 410, 411, 412, 412, 414, 414, 415,
       416, 418, 418, 419, 423, 424, 425, 426, 427, 427, 429, 431, 436,
       437, 438, 445, 450, 454, 455, 456, 457, 466], dtype=int64), array([ 1,  1,  1, 11, 12,  3,  3,  3,  3,  3,  3,  3,  1,  1,  1,  1,  1,
        1,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  5,  3,  3,  1,  5,
        5,  3,  3,  3,  3,  3,  3,  1,  3,  1,  1,  7,  7,  1,  7,  7,  7,
        3,  3,  3,  3,  3,  5,  5,  5,  3,  3,  3, 12,  5, 12,  0,  0,  0,
        0,  5,  0, 11, 11, 11, 12,  0, 12, 11, 11,  0, 11, 11, 11, 11, 11,
       11,  0, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11],
      dtype=int64))

The first array contains the list of row numbers and second array contains the respective column numbers, which means that <b><i>z[55][1]</i> has a z-score higher than 3</b>.

In [ ]:
#Step3: Print the z-score of z[55][1]
print(z[55][1])

3.375038763517309

So, the data point â€” 55th record on column ZN is an outlier.

In [ ]:
#Step4: Remove the outliers using the z-score
boston_df_z = boston_df_z[(z < 3).all(axis=1)]

print("The no. of rows before outlier filtering was: ", boston_df.shape)
print("The no. of rows after outlier filtering is: ", boston_df_z.shape)

The no. of rows before outlier filtering was:  (506, 13)
The no. of rows after outlier filtering is:  (415, 13)

Hence, we filtered out around 90+ rows from the dataset i.e. outliers have been removed.

### Using IQR Score

In [ ]:
#Step1: Calculate the IQR
boston_df_iqr = boston_df
Q1 = boston_df_iqr.quantile(0.25)
Q3 = boston_df_iqr.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
CHAS         0.000000
NOX          0.175000
RM           0.738000
AGE         49.050000
DIS          3.088250
RAD         20.000000
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
dtype: float64

In [ ]:
#Step2: Detect the outliers
print(boston_df_iqr < (Q1 - 1.5 * IQR)) |(boston_df_iqr > (Q3 + 1.5 * IQR))

      CRIM     ZN  INDUS   CHAS    NOX     RM    AGE    DIS    RAD    TAX  \
0    False  False  False  False  False  False  False  False  False  False
1    False  False  False  False  False  False  False  False  False  False
2    False  False  False  False  False  False  False  False  False  False
3    False  False  False  False  False  False  False  False  False  False
4    False  False  False  False  False  False  False  False  False  False
5    False  False  False  False  False  False  False  False  False  False
6    False  False  False  False  False  False  False  False  False  False
7    False  False  False  False  False  False  False  False  False  False
8    False  False  False  False  False  False  False  False  False  False
9    False  False  False  False  False  False  False  False  False  False
10   False  False  False  False  False  False  False  False  False  False
11   False  False  False  False  False  False  False  False  False  False
12   False  False  False  False  False  False  False  False  False  False
13   False  False  False  False  False  False  False  False  False  False
14   False  False  False  False  False  False  False  False  False  False
15   False  False  False  False  False  False  False  False  False  False
16   False  False  False  False  False  False  False  False  False  False
17   False  False  False  False  False  False  False  False  False  False
18   False  False  False  False  False  False  False  False  False  False
19   False  False  False  False  False  False  False  False  False  False
20   False  False  False  False  False  False  False  False  False  False
21   False  False  False  False  False  False  False  False  False  False
22   False  False  False  False  False  False  False  False  False  False
23   False  False  False  False  False  False  False  False  False  False
24   False  False  False  False  False  False  False  False  False  False
25   False  False  False  False  False  False  False  False  False  False
26   False  False  False  False  False  False  False  False  False  False
27   False  False  False  False  False  False  False  False  False  False
28   False  False  False  False  False  False  False  False  False  False
29   False  False  False  False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
476  False  False  False  False  False  False  False  False  False  False
477  False  False  False  False  False  False  False  False  False  False
478  False  False  False  False  False  False  False  False  False  False
479  False  False  False  False  False  False  False  False  False  False
480  False  False  False  False  False  False  False  False  False  False
481  False  False  False  False  False  False  False  False  False  False
482  False  False  False  False  False  False  False  False  False  False
483  False  False  False  False  False  False  False  False  False  False
484  False  False  False  False  False  False  False  False  False  False
485  False  False  False  False  False  False  False  False  False  False
486  False  False  False  False  False  False  False  False  False  False
487  False  False  False  False  False  False  False  False  False  False
488  False  False  False  False  False  False  False  False  False  False
489  False  False  False  False  False  False  False  False  False  False
490  False  False  False  False  False  False  False  False  False  False
491  False  False  False  False  False  False  False  False  False  False
492  False  False  False  False  False  False  False  False  False  False
493  False  False  False  False  False  False  False  False  False  False
494  False  False  False  False  False  False  False  False  False  False
495  False  False  False  False  False  False  False  False  False  False
496  False  False  False  False  False  False  False  False  False  False
497  False  False  False  False  False  False  False  False  False  False
498  False  False  False  False  False  False  False  False  False  False
499  False  False  False  False  False  False  False  False  False  False
500  False  False  False  False  False  False  False  False  False  False
501  False  False  False  False  False  False  False  False  False  False
502  False  False  False  False  False  False  False  False  False  False
503  False  False  False  False  False  False  False  False  False  False
504  False  False  False  False  False  False  False  False  False  False
505  False  False  False  False  False  False  False  False  False  False

     PTRATIO      B  LSTAT
0      False  False  False
1      False  False  False
2      False  False  False
3      False  False  False
4      False  False  False
5      False  False  False
6      False  False  False
7      False  False  False
8      False  False  False
9      False  False  False
10     False  False  False
11     False  False  False
12     False  False  False
13     False  False  False
14     False  False  False
15     False  False  False
16     False  False  False
17     False  False  False
18     False   True  False
19     False  False  False
20     False  False  False
21     False  False  False
22     False  False  False
23     False  False  False
24     False  False  False
25     False   True  False
26     False  False  False
27     False   True  False
28     False  False  False
29     False  False  False
..       ...    ...    ...
476    False  False  False
477    False  False  False
478    False  False  False
479    False  False  False
480    False  False  False
481    False  False  False
482    False  False  False
483    False  False  False
484    False  False  False
485    False  False  False
486    False  False  False
487    False  False  False
488    False  False  False
489    False   True  False
490    False   True  False
491    False  False  False
492    False  False  False
493    False  False  False
494    False  False  False
495    False  False  False
496    False  False  False
497    False  False  False
498    False  False  False
499    False  False  False
500    False  False  False
501    False  False  False
502    False  False  False
503    False  False  False
504    False  False  False
505    False  False  False

[506 rows x 13 columns]

TypeError: cannot compare a dtyped [bool] array with a scalar of type [NoneType]

The data point where we have False that means these values are valid whereas <b><i>True</i> indicates presence of an outlier</b>.

In [ ]:
#Step3: Remove the outliers using the IQR score
boston_df_out = boston_df_iqr[~((boston_df_iqr < (Q1 - 1.5 * IQR)) |(boston_df_iqr > (Q3 + 1.5 * IQR))).any(axis=1)]

print("The no. of rows before outlier filtering was: ", boston_df_iqr.shape)
print("The no. of rows after outlier filtering is: ", boston_df_out.shape)

The no. of rows before outlier filtering was:  (506, 13)
The no. of rows after outlier filtering is:  (274, 13)

Hence, the outliers have been removed.